<h3>Procedimentos</h3>
<p-table [columns]="cols" [value]="procedimentos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th>
              Editor
              <button class="btn btn-primary" (click)="showBasicDialog()">
                <i class="fas fa-plus" style="font-size: 14px;"></i>
              </button>
              <p-dialog header="Cadastro de cliente" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
                <app-procedimentos-form></app-procedimentos-form>
                <p-footer>
                  <!--button type="button" pButton icon="pi pi-check" (click)="displayBasic=false" label="Salvar"></button-->
                  <button type="button" pButton icon="pi pi-times" (click)="displayBasic=false" label="Cancelar" class="ui-button-secondary"></button>
                </p-footer>
              </p-dialog>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-procedimentos let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{ procedimentos[col.field] }}
          </td>
          <td>
            <span class="float-right">
              <!--button class="btn btn-outline-warning mb-1 btn-sm" (click)="showBasicNewDialog()" (click)="onEdit(clientes.id)" >
                <i class="pi pi-replay" aria-hidden="true"></i>
              <button>
              <p-dialog header="Atualizar cadastro de cliente" [(visible)]="displayNewBasic" [style]="{width: '50vw'}" [baseZIndex]="10000" >
                <app-cliente-att-form [clienteId]="clienteEdit.id"></app-cliente-att-form>
                <p-footer>
                  <button type="button" pButton icon="pi pi-check" (click)="displayNewBasic=false" label="Salvar"></button>
                  <button type="button" pButton icon="pi pi-times" (click)="displayNewBasic=false" label="Cancelar" class="ui-button-secondary"></button>
                </p-footer>
              </p-dialog-->
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="showBasicNewDialog(procedimentos)">
                <i class="fas fa-sync-alt"></i>
              </button>
              <p-dialog header="Atualizar cadastro de procedimento" [(visible)]="displayNewBasic" [style]="{width: '50vw'}" [baseZIndex]="10000" >

                <form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px;">
                  <div class="form-row">
                    <div class="col-md-12 mb-3">
                      <label for="nome">Descrição</label>
                      <input type="text" class="form-control" id="nome" placeholder="Curativo, Pomada..." formControlName="descricao" [ngClass]="{ 'is-invalid': submitted && hasError('descricao')}">
                      <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['required']">
                        Informe um nome válido.
                      </div>
                      <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['minlength']">
                        O nome precisa ter no mínimo {{ hasError('descricao')['minlength'].requiredLength }} caracteres.
                      </div>
                      <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['maxlength']">
                        O nome precisa ter no máximo {{ hasError('descricao')['maxlength'].requiredLength }} caracteres.
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="valor">Valor</label>
                      <input type="text" class="form-control" formControlName="valor" [ngClass]="{ 'is-invalid': submitted && hasError('valor')}">

                      <div class="invalid-feedback" *ngIf="hasError('valor') && hasError('valor')['required']">
                        Informe uma data válido.
                      </div>
                      <!--div class="invalid-feedback" *ngIf="hasError('nascimento') && hasError('nascimento')['minlength']">
                        O nome precisa ter no mínimo {{ hasError('nascimento')['minlength'].requiredLength }} caracteres.
                      </div>
                      <div-- class="invalid-feedback" *ngIf="hasError('nascimento') && hasError('nascimento')['maxlength']">
                        O nome precisa ter no máximo {{ hasError('nascimento')['maxlength'].requiredLength }} caracteres.
                      </div-->
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="estoque">Estoque</label>
                      <input type="text" class="form-control" id="estoque" formControlName="estoque" [ngClass]="{ 'is-invalid': submitted && hasError('estoque')}">
                      <div class="invalid-feedback" *ngIf="hasError('estoque') && hasError('estoque')['required']">
                        Informe um CPF válido.
                      </div>
                      <div class="invalid-feedback" *ngIf="hasError('estoque') && hasError('estoque')['minlength']">
                        O nome precisa ter no mínimo {{ hasError('estoque')['minlength'].requiredLength }} caracteres.
                      </div>
                      <div class="invalid-feedback" *ngIf="hasError('estoque') && hasError('estoque')['maxlength']">
                        O nome precisa ter no máximo {{ hasError('estoque')['maxlength'].requiredLength }} caracteres.
                      </div>
                    </div>
                  </div>

                  <div style="margin-top: 10px;">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
                    <button type="button" class="btn btn-default" (click)="onCancel()">Limpar</button>
                  </div>
                </form>

                <p-footer>
                  <!--button type="button" pButton icon="pi pi-check" (click)="displayNewBasic=false" label="Salvar"></button-->
                  <button type="button" pButton icon="pi pi-times" (click)="displayNewBasic=false" label="Cancelar" class="ui-button-secondary"></button>
                </p-footer>
              </p-dialog>

              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(procedimentos)" >
                <i class="fas fa-trash"></i>
              </button>

              <button class="btn btn-outline-secondary mb-1 btn-sm" >
                <i class="fas fa-boxes"></i>
              </button>
            </span>
          </td>
      </tr>
  </ng-template>
</p-table>
